.App {
	text-align: center;
	font-family: 'Graduate', cursive;
	height: 100vh;
}

.bg {
	background-image: url('./images/FootballField2.png');
	background-size: cover;
	background-attachment: fixed;
}
